.titleSection {
  padding: 10px 0;
}

.title {
  color: red;
  font-size: 18px;
}

.navigatorSection {
  display: flex;
  justify-content: left;
}

.navigator {
  font-size: 12px;
  color: #333;
  text-decoration: none;
  position: relative;
}

.navigator::before {
  content: "";
  background-color: black;
  position: absolute;
  left: -12px;
  top: calc((12px - 8px) / 2);
  height: 8px;
  width: calc(8px / 2 * tan(60deg));
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.message {
  font-size: 16px;
  padding: 10px 0;
}
